config/**
!config/carryon-common.json
!config/gravestones.json
!config/entityculling.json
!config/defaultoptions-common.toml
!config/defaultoptions/
!config/defaultoptions/keybindings.txt

mods/**
!mods/.gitkeep

resourcepacks/**
!resourcepacks/.gitkeep

dist/
