*
!README.md
!.gitignore
!.gitattributes
!templates
!templates/**
!config
!config/carryon-common.json
!config/gravestones.json
!config/entityculling.json
!config/defaultoptions-common.toml
!config/defaultoptions
!config/defaultoptions/keybindings.txt

# Scripts
!get-config-files.ps1
!get-files.ps1
!gen-archive-name.ps1
!export-mrpack.ps1
!export-tlauncher.ps1
